{{ partial "header.html" . }}
<body class="post-template nav-closed">
{{ partial "navigation.html" . }}
<div class="site-wrapper">


{{if .Params.image}}
<header class="main-header post-head" style="background-image: url({{.Params.image}})">
  <nav class="main-nav overlay clearfix">
{{else}}
<header class="main-header post-head no-cover">
  <nav class="main-nav clearfix">
{{end}}

  {{ if .Site.Params.logo }}
      <a class="blog-logo" href="/"><img src="{{ .Site.Params.logo }}" alt="Home" /></a>
  {{end}}
  {{ if .Site.Menus.main }}
      <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
  {{else}}
      <a class="menu-button icon-feed" href="{{ .Site.BaseURL }}index.xml">&nbsp;&nbsp;Subscribe</a>
  {{end}}
  </nav>
</header>



<main class="content" role="main">




  <article class="post {{ .Section }}">

    <header class="post-header">
        <h1 class="post-title">{{.Title}}</h1>
        <small>{{.Description}}</small>

        <section class="post-meta">
        {{ if eq .Section "post"}}
          <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "Jan 2, 2006" }}
          </time>
        {{end}}
         {{ range .Params.tags }}
          <span class="post-tag small"><a href="/tags/{{ . | urlize }}/">#{{ . }}</a></span>
         {{ end }}
        </section>
    </header>

    <section class="post-content">
      {{ .Content }}
    </section>


  <footer class="post-footer">


    {{if .Site.Params.logo}}
    <figure class="author-image">
        <a class="img" href="/" style="background-image: url({{.Site.Params.logo}})"><span class="hidden">{{.Site.Params.author}}'s Picture</span></a>
    </figure>
    {{end}}

    {{ partial "author.html" . }}

    {{ partial "share.html" . }}

    {{ if ne .Params.comments false}}{{ template "_internal/disqus.html" . }}{{ end }}

  </footer>
</article>

</main>


{{ partial "footer.html" . }}
</div> <!-- site-wrapper -->
{{ partial "scripts.html" . }}
</body>
</html>
