---
layout: template
bodyclass: journal
---

<article>
  <section>
    <header>
      <h1 class="title">{{ page.title }}</h1>
    </header>
    <div class="pubdate">
      <time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate>Published {{ page.date | date: "%A, %B %d, %Y" }}</time>
    </div>
    {{ content }}
    <div class="page-nav clearfix">
      {% if page.previous %}
      <a href="{{ page.previous.url }}" title="{{ page.previous.title }}" class="previous">&#8592; Previous</a>
      {% endif %}
      {% if page.next %}
      <a href="{{ page.next.url }}" title="{{ page.next.title }}" class="next">Next &#8594;</a>
      {% endif %}
    </div>
  </section>

  <section class="comment">
    {% if page.comments == 'facebook' %}
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js#appId=185154174861978&amp;xfbml=1"></script>
    <fb:comments href="{{ site.url }}{{ page.url }}" num_posts="5" width="710"></fb:comments>
    {% elsif page.comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_identifier = "{{ page.url }}";
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://ronhuang.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=ronhuang">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}
  </section>
</article>

